<%- include("./partials/header") %>
<h1>This is ejs template</h1>
<%- include("./partials/Navbar") %>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A maiores inventore libero provident debitis porro eveniet aut fugit, facilis assumenda voluptas. Asperiores eligendi cupiditate nulla praesentium, exercitationem consectetur sed odit!</p> 
       <%- include("./partials/footer") %>   